/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
/* ===========UTILS============================ */
@import './utils/mixins';
@import './utils/variables';
@import './utils/visually-hidden';

/* ===========BASE============================ */
@import './base/normalize';
@import './base/container';
@import './base/common';

/* ===========COMPONENTS============================ */
@import './components/subtitle';
@import './components/title';
@import './components/item';
@import './components/grid';
@import './components/button-arrow';
@import './components/backdrop';
@import './components/scroll';
@import './components/preloader';
@import './components/popap';
@import './components/progress-bar';




/* ===========LAYOUT============================ */
@import './layout/header';
@import './layout/hero';
@import './layout/product';
@import './layout/made';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/reviews';
@import './layout/location';
@import './layout/footer';
@import './layout/sign-modal';
@import './layout/map-modal';



