:root {
  --primary-background-color: #fff5f6;
  --secondary-background-color: #ffffff;
  --hero-background-color: #ffb8ca;
  --mobile-menu-background-color: #e17992;
  --mobile-menu-border-color: #e18298;
  --accent-greyer-color: #ecebeb;
  --accent-redder-color: #c7133e;
  --accent-link-color: #d41443;

  --primary-title-color: #d41443;
  --subtitle-color: #ffa5ba;

  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;

  --icon-basic-color: #d41443;
  --icon-bg-color: #fea5bb;
  --icon-unique-color: #d31342;

  --footer-line: #e1e1e1;
  --footer-unicode-color: #907e82;
  --primary-fonts: DM Sans, sans-serif;
  --secondary-fonts: Titan One, cursive;

  --primary-letter-spacing: 0.04em;
  --secondary-letter-spacing: 0.06em;
  --extra-letter-spacing: 0.02em;
  --duration: 1s;
}
