<section class="">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class=" list">
            <li class="item">
                <div>
                    <picture>
                        <source
                            srcset="./images/advantages/desktop/icon1-1x.png 1x , ./images/advantages/desktop/icon1-1x.png 2x "
                            media="min-width:1200px)">
                        <source
                            srcset="./images/advantages/tablet/icon1-1x.png 1x , ./images/advantages/tablet/icon1-1x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/advantages/mobile/icon1-1x.png 1x , ./images/advantages/mobile/icon1-1x.png 2x"
                            media="(min-width: 320px)">


                        <img src="./images/advantages/desktop/icon1-1x.png" alt="">
                    </picture>


                </div>
                <h3>721</h3>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

            </li>
            <li class="item">
                <div>
                    <picture>
                        <source
                            srcset="./images/advantages/desktop/icon1-1x.png 1x , ./images/advantages/desktop/icon1-1x.png 2x "
                            media="min-width:1200px)">
                        <source
                            srcset="./images/advantages/tablet/icon1-1x.png 1x , ./images/advantages/tablet/icon1-1x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/advantages/mobile/icon1-1x.png 1x , ./images/advantages/mobile/icon1-1x.png 2x"
                            media="(min-width: 320px)">


                        <img src="./images/advantages/desktop/icon1-1x.png" alt="">

                    </picture>
                </div>
                <h3>16kg</h3>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

            </li>
            <li class="item">
                <div>
                    <picture>
                        <source
                            srcset="./images/advantages/desktop/icon1-1x.png 1x , ./images/advantages/desktop/icon1-1x.png 2x "
                            media="min-width:1200px)">
                        <source
                            srcset="./images/advantages/tablet/icon1-1x.png 1x , ./images/advantages/tablet/icon1-1x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/advantages/mobile/icon1-1x.png 1x , ./images/advantages/mobile/icon1-1x.png 2x"
                            media="(min-width: 320px)">


                        <img src="./images/advantages/desktop/icon1-1x.png" alt="">
                    </picture>
                </div>
                <h3>84</h3>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

            </li>

        </ul>
    </div>
</section>