<footer class="footer" id="footer">
    <div class="container footer-up">
        <div class="footer-up__texts">
            <p class="footer-up__sub subtitle">homemade ice cream made</p>
            <span class="footer-up__title title">with passion</span>
        </div>
        <div class="footer-up__contacts">
            <ul class="social list">


                <li class="social__item">
                    <a href="https://github.com/login" class="social__link link" aria-label="GITHUB" target="_blank" rel="noopener noreferrer">
                        <svg class="social__icon">
                            <use href="./images/svg-icon/sprite.svg#icon-github"></use>
                        </svg>
                    </a>

                </li>
                <li class="social__item">
                    <a href="https://telegram.org/" class="social__link link" aria-label="TELEGRAM" target="_blank" rel="noopener noreferrer">
                        <svg class="social__icon">
                            <use href="./images/svg-icon/sprite.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>

                <li class="social__item">
                    <a href="https://uk-ua.facebook.com/" class="social__link" aria-label="FACEBOOK" target="_blank" rel="noopener noreferrer">
                        <svg class="social__icon">
                            <use href="./images/svg-icon/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <b class="footer-up__btext">Feel free to contact <a href="tel:+610383766284"
                    class="footer-up__phone-link link" title="НЕ ЗВОНИ СЮДА!!!">+61 (0)
                    383 766 284</a></b>
        </div>

    </div>

    <div class="footer-border">

    </div>

    <div class="container footer-down">
        <p class="footer-down__license">&#169; 2019 - IceCream.
            All Rights Reserved.</p>
    </div>



</footer>