    <section class="masonry" id="masonry">

      <div class="masonry__container container">
        <h2 class="title visually-hidden">Gallery</h2>
        <ul class="masonry__list list">

          <li class="masonry__item card">

            <picture>
              <source
                srcset="./images/gallery_optimized/webp/icecream1webp.webp 1x, ./images/gallery_optimized/webp/icecream1@2xwebp.webp 2x"
                type="image/webp">
              <source
                srcset="./images/gallery_optimized/icecream1.jpg 1x, ./images/gallery_optimized/icecream1@2x.jpg 2x">
              <img class="masonry__img card__inner" src="./images/gallery_optimized/icecream1.jpg" alt="Food picture 1">
            </picture>

          </li>


          <li class="masonry__item">

            <div class="masonry__thumb card">
              <picture>
                <source
                  srcset="./images/gallery_optimized/webp/icecream2webp.webp 1x, ./images/gallery_optimized/webp/icecream2@2xwebp.webp 2x"
                  type="image/webp">
                <source
                  srcset="./images/gallery_optimized/icecream2.jpg 1x, ./images/gallery_optimized/icecream2@2x.jpg 2x">
                <img class="masonry__img card__inner" src="./images/gallery_optimized/icecream2.jpg"
                  alt="Food picture 2">
              </picture>

            </div>

            <div class="masonry__thumb card">
              <picture>
                <source
                  srcset="./images/gallery_optimized/webp/icecream3webp.webp 1x, ./images/gallery_optimized/webp/icecream3@2xwebp.webp 2x"
                  type="image/webp">
                <source
                  srcset="./images/gallery_optimized/icecream3.jpg 1x, ./images/gallery_optimized/icecream3@2x.jpg 2x">
                <img class="masonry__img card__inner" src="./images/gallery_optimized/icecream3.jpg"
                  alt="Food picture 1">
              </picture>
            </div>

          </li>

          <li class="masonry__item">
            <div class="masonry__thumb card">
              <picture>
                <source
                  srcset="./images/gallery_optimized/webp/icecream4webp.webp 1x, ./images/gallery_optimized/webp/icecream4@2xwebp.webp 2x"
                  type="image/webp">
                <source
                  srcset="./images/gallery_optimized/icecream4.jpg 1x, ./images/gallery_optimized/icecream4@2x.jpg 2x">
                <img class="masonry__img card__inner " src="./images/gallery_optimized/icecream4.jpg"
                  alt="Food picture 2">
              </picture>


            </div>

            <div class="masonry__thumb card">

              <picture>
                <source
                  srcset="./images/gallery_optimized/webp/icecream5webp.webp 1x, ./images/gallery_optimized/webp/icecream5@2xwebp.webp 2x"
                  type="image/webp">
                <source
                  srcset="./images/gallery_optimized/icecream5.jpg 1x, ./images/gallery_optimized/icecream5@2x.jpg 2x">
                <img class="masonry__img card__inner nol" src="./images/gallery_optimized/icecream5.jpg"
                  alt="Food picture 1">
              </picture>

              <div class="cubik">
                <picture>
                  <source
                    srcset="./images/gallery_optimized/webp/icecream5webp.webp 1x, ./images/gallery_optimized/webp/icecream5@2xwebp.webp 2x"
                    type="image/webp">
                  <source
                    srcset="./images/gallery_optimized/icecream5.jpg 1x, ./images/gallery_optimized/icecream5@2x.jpg 2x">
                  <img class="masonry__img card__inner nol" src="./images/gallery_optimized/icecream5.jpg"
                    alt="Food picture 1">
                </picture>
              </div>
            </div>

          </li>

          <li class="masonry__item">

            <div class="masonry__thumb card">
              <picture>
                <source
                  srcset="./images/gallery_optimized/webp/icecream6webp.webp 1x, ./images/gallery_optimized/webp/icecream6@2xwebp.webp 2x"
                  type="image/webp">
                <source
                  srcset="./images/gallery_optimized/icecream6.jpg 1x, ./images/gallery_optimized/icecream6@2x.jpg 2x">
                <img class="masonry__img card__inner" src="./images/gallery_optimized/icecream6.jpg"
                  alt="Food picture 2">
              </picture>
            </div>

            <div class="masonry__thumb card">
              <picture>
                <source
                  srcset="./images/gallery_optimized/webp/icecream7webp.webp 1x, ./images/gallery_optimized/webp/icecream7@2xwebp.webp 2x"
                  type="image/webp">
                <source
                  srcset="./images/gallery_optimized/icecream7.jpg 1x, ./images/gallery_optimized/icecream7@2x.jpg 2x">
                <img class="masonry__img card__inner" src="./images/gallery_optimized/icecream7.jpg"
                  alt="Food picture 1">
              </picture>
            </div>


          </li>

          <li class="masonry__item">
            <div class="masonry__thumb card">
              <picture>
                <source
                  srcset="./images/gallery_optimized/webp/icecream8webp.webp 1x, ./images/gallery_optimized/webp/icecream8@2xwebp.webp 2x"
                  type="image/webp">
                <source
                  srcset="./images/gallery_optimized/icecream8.jpg 1x, ./images/gallery_optimized/icecream8@2x.jpg 2x">
                <img class="masonry__img card__inner" src="./images/gallery_optimized/icecream8.jpg"
                  alt="Food picture 2">
              </picture>
            </div>

            <div class="masonry__thumb card">
              <picture>
                <source
                  srcset="./images/gallery_optimized/webp/icecream9webp.webp 1x, ./images/gallery_optimized/webp/icecream9@2xwebp.webp 2x"
                  type="image/webp">
                <source
                  srcset="./images/gallery_optimized/icecream9.jpg 1x, ./images/gallery_optimized/icecream9@2x.jpg 2x">
                <img class="masonry__img card__inner" src="./images/gallery_optimized/icecream9.jpg"
                  alt="Food picture 1">
              </picture>
            </div>
          </li>


          <li class="masonry__item card">

            <picture>
              <source
                srcset="./images/gallery_optimized/webp/icecream10webp.webp 1x, ./images/gallery_optimized/webp/icecream10@2xwebp.webp 2x"
                type="image/webp">
              <source
                srcset="./images/gallery_optimized/icecream10.jpg 1x, ./images/gallery_optimized/icecream10@2x.jpg 2x">
              <img class="masonry__img card__inner" src="./images/gallery_optimized/icecream10.jpg"
                alt="Food picture 1">
            </picture>

          </li>

        </ul>

      </div>

    </section>