<header class="header">
    <div class="header-container container">
        <a href="/" class="logo">
            <img src="./images/logo/logo.png" alt="Мороженное">
        </a>
        <nav class="navigation">
            <ul class="nav-list list">
                <li class="nav-list__item">
                    <a href="" class="nav-list__link link">Home</a>
                </li>
                <li class="nav-list__item">
                    <a href="#loc" class="nav-list__link link">About us</a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__link link">How it’s made?</a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__link link">Our products</a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__link link">Contact</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="burger-btn" data-menu-button-burger>
            <svg class="burger-btn__icon">
                <use href="./images/svg-icon/sprite.svg#icon-menu"></use>
            </svg>
        </button>
        <button type="button" class="button-arrow header__order-btn">
            <span class="order-btn__text">Buy now</span>
            <svg class="order-btn__icon">
                <use href="./images/svg-icon/sprite.svg#icon-arrow"></use>
            </svg>
        </button>

        <div class="mobile-menu" data-menu-burger>
            <button class="mobile-menu__close-btn" data-menu-close-burger>
                <svg class="close-btn__icon">
                    <use href="./images/svg-icon/sprite.svg#icon-close"></use>
                </svg>
            </button>
            <button type="button" class="mobile-menu__order-btn button-arrow">
                <span class="order-btn__text">Buy now</span>
                <svg class="order-btn__icon">
                    <use href="./images/svg-icon/sprite.svg#icon-arrow"></use>
                </svg>
            </button>
            <ul class="mobile-menu__nav-list list">
                <li class="mobile-menu__item">
                    <a href="" class="mobile-menu__link link active">Home</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="" class="mobile-menu__link link">About us</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#how-made" class="mobile-menu__link link">How it's made</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#Our products" class="mobile-menu__link link">Our products</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="" class="mobile-menu__link link">Contact</a>
                </li>
            </ul>
        </div>
    </div>

</header>