<section class="hero">
    <div class="container hero__container">

        <div class="hero__div-one">
            <h1 class="hero__title animate__rubberBand">
                ice cream
                made with
                <span class="hero__title--span">passion</span>
            </h1>

            <button type="button" class="button-hero wave-btn" onclick="window.location.href = '#product';">
                <span class="hero__label">
                    Products
                </span>
                <span class="wave-btn__waves"></span>
            </button>

            <button type="button" class="button-hero button-hero__color wave-btn" onclick="window.location.href = '#how-made';">
              
                <span class="hero__label">
                    How it's made?
                </span>
                <span class="wave-btn__waves wave-btn__waves--greyer"></span>
            </button>
        </div>

        <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et</p>

        <button type="button" class="hero__arrow">
            <svg class="hero__arrow--svg">
                <use href="./images/svg-icon/sprite.svg#icon-long-arrow"></use>
            </svg>
        </button>




        <img src="./images/hero/mobile/Ellipse.png" alt="круг" class="hero__ellips">

        <picture class="hero__ellips-tablet">
            <source srcset="./images/hero/desktop/Ellipse-desktop.png" media="(min-width: 1200px)">
            <source srcset="./images/hero/tablet/Ellipse.png" media="(min-width: 768px)">

            <img src="./images/hero/tablet/Ellipse.png" alt="круг">
        </picture>


        <picture class="hero__ice-cream animate__fadeInUpBig">
            <source srcset="./images/hero/desktop/slider.png 1x, ./images/hero/desktop/slider@2x.png 2x"
                media="(min-width: 1200px)">
            <source srcset="./images/hero/tablet/slider.png 1x, ./images/hero/tablet/slider@2x.png 2x"
                media="(min-width: 768px)">
            <source srcset="./images/hero/mobile/slider.png 1x, ./images/hero/mobile/slider@2x.png 2x"
                media="(min-width: 320px)">

            <img src="./images/hero/mobile/slider.png" alt="мороженое">
        </picture>

        <picture class="hero__milk animate__rubberBand">
            <source srcset="./images/hero/desktop/slider-milk.png 1x, ./images/hero/desktop/slider-milk@2x.png 2x"
                media="(min-width: 1200px)">
            <source srcset="./images/hero/tablet/slider-milk.png 1x, ./images/hero/tablet/slider-milk@2x.png 2x"
                media="(min-width: 768px)">

            <img src="./images/hero/tablet/slider-milk.png" alt="молоко">
        </picture>

        <picture class="hero__girl animate__bounceInRight">
            <source srcset="./images/hero/desktop/slider-girl.png 1x, ./images/hero/desktop/slider-girl@2x.png 2x"
                media="(min-width: 1200px)">
            <source srcset="./images/hero/tablet/slider-girl.png 1x, ./images/hero/tablet/slider-girl@2x.png 2x"
                media="(min-width: 768px)">

            <img src="./images/hero/tablet/slider-girl.png" alt="девушка">
        </picture>

        <picture class="hero__group-one animate__bounceInDown">
            <source srcset="./images/hero/desktop/Group-one.png" media="(min-width: 1200px)">
            <source srcset="./images/hero/tablet/Group-one.png" media="(min-width: 768px)">

            <img src="./images/hero/tablet/Group-one.png" alt="">
        </picture>

        <picture class="hero__group-two animate__bounceInDown">
            <source srcset="./images/hero/desktop/Group-two.png" media="(min-width: 1200px)">
            <source srcset="./images/hero/tablet/Group-two.png" media="(min-width: 768px)">

            <img src="./images/hero/tablet/Group-two.png" alt="">
        </picture>


    </div>
</section>