<section class="location" id="loc">
  <div class="location__container container">
    <h2 class="location__title title visually-hidden">Location of our cafes and foodtrucks</h2>
    <ul class="location__grid grid list">
      <li class="location__item item">
        <span class="location__img-one"></span>
        <span class="location__img-one"></span>
        <span class="location__img-one"></span>
        <span class="location__img-one"></span>

        <div class="location__content">
            <div class="location__div">
            <div class="location__thumb">
              <p class="location__cafe">CAFE</p>
            </div>
            <span class="location__city">Chicago</span>
            <p class="location__info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="location__div">
            <p class="location__day">Monday - Friday</p>
            <p class="location__time">06:00 AM - 10:00 PM</p>
            <p class="location__day">Saturday - Sunday</p>
            <p class="location__time">08:00 AM - 16:00 PM</p>
          </div>
          <div class="location__div">
            <a href="tel:+610383766284" class="location__contact link">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="location__contact link">noreply@envato.com</a>
          </div>
        </div>
      </li>

      <li class="location__item item">
        <span class="location__img-two"></span>
        <span class="location__img-two"></span>
        <span class="location__img-two"></span>
        <span class="location__img-two"></span>
        <div class="location__content-two">
          <div class="location__div">
          <div class="location__thumb location__thumb--greener">
            <p class="location__cafe">FOODTRUCK</p>
          </div>
          <span class="location__city">Los Angeles</span>
          <p class="location__info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="location__div">
          <p class="location__day">Monday - Friday</p>
          <p class="location__time">06:00 AM - 10:00 PM</p>
          <p class="location__day">Saturday - Sunday</p>
          <p class="location__time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="location__div">
          <a href="tel:+610383766284" class="location__contact link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="location__contact link">noreply@envato.com</a>
        </div>
        </div>
        
      </li>

      <li class="location__item item">
        <span class="location__img-three"></span>
        <span class="location__img-three"></span>
        <span class="location__img-three"></span>
        <span class="location__img-three"></span>
        <div class="location__content-three">
          <div class="location__div">
          <div class="location__thumb">
            <p class="location__cafe">CAFE</p>
          </div>
          <span class="location__city">New York</span>
          <p class="location__info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="location__div">
          <p class="location__day">Monday - Friday</p>
          <p class="location__time">06:00 AM - 10:00 PM</p>
          <p class="location__day">Saturday - Sunday</p>
          <p class="location__time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="location__div">
          <a href="tel:+610383766284" class="location__contact link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="location__contact link">noreply@envato.com</a>
        </div>
        </div>
        
      </li>
    </ul>
  <div class="location__div-btn">
      <button data-modal-open-map class="wave-btn location__button  button-arrow button-arrow--red" type="button">
        <div class="button-arrow__div">
          <span class="button-arrow__label location__label button-arrow__label--red">Our Locations

          </span>
          <svg class="button-arrow__icon location__icon button-arrow__icon--red">
            <use href="../src/images/svg-icon/sprite.svg#icon-arrow"></use>
          </svg>
        </div>
        <span class="wave-btn__waves"></span>
      </button>
      <div class="map is-hidden backdrop" data-modal-map>
        <div class="map__modal" id="destination">
          <button class="map__close-btn" type="button" data-modal-close-map>
                            <svg class="map__cross">
                                <use href="./images/svg-icon/sprite.svg#icon-cross"></use>
                            </svg>
                            </button>
          <span class="map__span">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47508.025717299046!2d-87.7098407208985!3d41.90894960000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd2597278c85f%3A0x8e2ed38d4cb1e1e4!2sScooter&#39;s%20Frozen%20Custard!5e0!3m2!1sru!2sua!4v1619000316049!5m2!1sru!2sua" width="700" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </span>
        </div>
      </div>

      <button data-modal-open class="wave-btn location__button  button-arrow" type="button">
        <div class="button-arrow__div">
        <span class="button-arrow__label location__label">Franchise
        </span>
        <svg class="button-arrow__icon location__icon">
          <use href="../src/images/svg-icon/sprite.svg#icon-arrow"></use>
        </svg>
      </div>
      <span class="wave-btn__waves wave-btn__waves--greyer"></span>
      </button>

      <div class="sign is-hidden backdrop" data-modal>
                        <div class="sign-modal">
                            <form class="sign-modal__form" id="Form1">
                                <button class="sign__close-btn" type="button" data-modal-close>
                            <svg class="sign__cross">
                                <use href="./images/svg-icon/sprite.svg#icon-cross"></use>
                            </svg>
                            </button>
                                <h3 class="sign-modal__title">CREATE ACCOUNT</h3>
                                <input class="sign-modal__input" type="text" placeholder="Email" required>
                                <input class="sign-modal__input" type="password" placeholder="Password" required>
                                <input class="sign-modal__input" type="password" placeholder="Confirm Password"
                                    required>
                                <div class="sign-modal__btn-box">
                                    <button type="button" class="sign-modal__btn" id="Next1">
                                        Next
                                    </button>
                                </div>
                            </form>

                            <form class="sign-modal__form" id="Form2">
                              <!-- <button class="sign__close-btn" type="button" data-modal-close-two>
                            <svg class="sign__cross">
                                <use href="./images/svg-icon/sprite.svg#icon-cross"></use>
                            </svg>
                            </button> -->
                                <h3 class="sign-modal__title">SOCIAL LINKS</h3>
                                <input class="sign-modal__input" type="text" placeholder="Medium">
                                <input class="sign-modal__input" type="text" placeholder="GitHub">
                                <input class="sign-modal__input" type="text" placeholder="LinkedIn">


                                <div class="sign-modal__btn-box">
                                    <button type="button" class="sign-modal__btn" id="Back1">
                                        Back
                                    </button>
                                    <button type="button" class="sign-modal__btn" id="Next2">
                                        Next
                                    </button>
                                </div>
                            </form>

                            <form class="sign-modal__form" id="Form3">
                              <!-- <button class="sign__close-btn" type="button" data-modal-close-three>
                            <svg class="sign__cross">
                                <use href="./images/svg-icon/sprite.svg#icon-cross"></use>
                            </svg>
                            </button> -->
                                <h3 class="sign-modal__title">PERSONAL INFO</h3>
                                <input class="sign-modal__input" type="text" placeholder="First Name" required>
                                <input class="sign-modal__input" type="text" placeholder="Last Name" required>
                                <input class="sign-modal__input" type="text" placeholder="Mobile No." required>

                                <div class="sign-modal__btn-box">
                                    <button type="button" class="sign-modal__btn" id="Back2">
                                        Back
                                    </button>
                                    <button type="submit" class="sign-modal__btn">
                                        Submit
                                    </button>
                                </div>
                            </form>

                            <div class="sign-modal__step-row olx">
                                <div id="progress"></div>
                                <div class="sign-modal__step-col"><small>Step 1</small></div>
                                <div class="sign-modal__step-col"><small>Step 2</small></div>
                                <div class="sign-modal__step-col"><small>Step 3</small></div>

                            </div>
                        </div>
                    </div>
    </div>
  </div>
</section>