<!--HOW IT'S MADE -->

<section id="how-made" class="made">
    <div class="made__div container">
        <div class="made__titles">
            <p class="made__subtitle subtitle">tradition and love</p>
            <h2 class="made__title title">how it’s made?</h2>
        </div>
        <div class="made__main">
            <div class="made__picture">
                <picture>
                    <source srcset="./images/made/browser-prod-d.webp 1x, ./images/made/browser-prod-d@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp">
                    <source srcset="./images/made/browser-prod-d.png 1x, ./images/made/browser-prod-d@2x.png 2x"
                        media="(min-width: 1200px)">

                    <source srcset="./images/made/browser-prod-t.webp 1x, ./images/made/browser-prod-t@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source srcset="./images/made/browser-prod-t.png 1x, ./images/made/browser-prod-t@2x.png 2x"
                        media="(min-width: 768px)">

                    <source srcset="./images/made/browser-prod-m.webp 1x, ./images/made/browser-prod-m@2x.webp 2x"
                        media="(min-width: 320px)" type="image/webp">
                    <source srcset="./images/made/browser-prod-m.png 1x, ./images/made/browser-prod-m@2x.png 2x"
                        media="(min-width: 320px)">


                    <img src="./images/made/browser-prod-m.png" alt="Мороженое" class="made__card">
                </picture>
            </div>
            <div class="made__right-side">
                <p class="made__text">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
                    egestas
                    eros. Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="made__description">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                    imperdiet
                    placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.<br>
                    <br>
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button type="button" class="button-arrow button__mades fadeInclass" made-data-modal-open>
                    <span class="button-arrow__label">Read more</span>
                    <svg class="button-arrow__icon" width="4" height="8">
                        <use  href="./images/svg-icon/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>

            </div>
        </div>

    </div>

    <div class="backdrop-made is-hidden" made-data-modal>
        <div class="modal-made">
            <button type="button" class="modal-made__close-btn" made-data-modal-close>
                <svg class="modal-made__close-svg" width="25" height="25">
                    <use href="./images/svg-icon/made-close.svg#icon-made_close"></use>
                </svg>
            </button>
            <h2 class="modal-made__title title">
                    на 100% натурально
            </h2>
            <p class="modal-made__text">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
        </div>
    </div>

</section>

