<div class="popap">
        <div class="popap__content">
            <div class="popap__thumb-picture">
                <img src="./images/location/presents.png" alt="мороженное" class="popap__picture">
            </div>
            <div class="popap__info">
                <button type="button" class="popap__close-btn close" data-menu-close>
                <svg class="popap__icon-cross" width="20" height="20">
                    <use href="./images/svg-icon/sprite.svg#icon-cross"></use>
                </svg>
            </button>
                <h3 class="popap__title-small">Special Offer</h3>
                <h2 class="popap__title-big">80 <sup class="popap__sup">%</sup> <span class="popap__span">OFF</span></h2>
                <p class="popap__text-rules">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                <div class="popap__div">
                    <a class="popap__link link" href="">Get it now</a>
                </div>
            </div>
        </div>
    </div>