<section class="product" id="product">

    <div class="product-container container">
        <p class="product__main-subtitle subtitle">100% natural</p>
        <h2 class="product__main-title title">products</h2>
        <ul class="product__list grid list">
            <li class="product__item item animate__zoomInDown" data-aos="backInDown">
                <div class="product__thumb">
                    <picture>
                        <source srcset="./images/product/ice-cream-1200.webp 1x, ./images/product/ice-cream-1200@2x.webp 2x" media="(min-width: 1200px)" type="image/webp">
                        <source srcset="./images/product/ice-cream-1200.png 1x, ./images/product/ice-cream-1200@2x.png 2x" media="(min-width: 1200px)">
                        <source srcset="./images/product/ice-cream-768.webp 1x, ./images/product/ice-cream-768@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/product/ice-cream-768.png 1x, ./images/product/ice-cream-768@2x.png 2x" media="(min-width: 768px)">  
                        <source srcset="./images/product/ice-cream-320.webp 1x, ./images/product/ice-cream-320@2x.webp 2x" media="(min-width: 320px)" type="image/webp">          
                        <source srcset="./images/product/ice-cream-320.png 1x, ./images/product/ice-cream-320@2x.png 2x" media="(min-width: 320px)">
                        <img src="./images/product/ice-cream-320.png" alt="Мороженое" class="product__card">
                    </picture>
                    <h3 class="product__title animate__shakeY">ice cream</h3>
                    <span class="product__points"></span>
                    <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua facilisis. </p>
                    <button class="button-long-arrow" type="button" data-modal-open-product>
                        <svg class="button__icon" width="5px" height="15px">
                            <use href="./images/svg-icon/sprite.svg#icon-long-arrow"></use>
                        </svg>
                    </button>
                    <div class="description is-hidden backdrop" data-modal-product>
                        <div class="description-modal">
                            <button class="description-modal__close-btn" type="button" data-modal-close-product>
                                <svg class="description-modal__icon">
                                    <use href="./images/svg-icon/sprite.svg#icon-cross"></use>
                                </svg>    
                            </button>
                            <p class="description-modal__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio harum, et quisquam neque impedit, libero molestiae quos eligendi obcaecati non optio voluptatibus. Velit pariatur esse expedita eaque ad facere culpa.</p>
                        </div>
                    </div>
                </div>   
            </li>
            <li class="product__item item animate__zoomInDown" data-aos="backInDown">
                <div class="product__thumb">
                    <picture>
                        <source srcset="./images/product/ice-coffee-1200.webp 1x, ./images/product/ice-coffee-1200@2x.webp 2x" media="(min-width: 1200px)" type="image/webp">
                        <source srcset="./images/product/ice-coffee-1200.png 1x, ./images/product/ice-coffee-1200@2x.png 2x" media="(min-width: 1200px)">
                        <source srcset="./images/product/ice-coffee-768.webp 1x, ./images/product/ice-coffee-768@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/product/ice-coffee-768.png 1x, ./images/product/ice-coffee-768@2x.png 2x" media="(min-width: 768px)">  
                        <source srcset="./images/product/ice-coffee-320.webp 1x, ./images/product/ice-coffee-320@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                        <source srcset="./images/product/ice-coffee-320.png 1x, ./images/product/ice-coffee-320@2x.png 2x" media="(min-width: 320px)">
                        <img src="./images/product/ice-coffee-320.png" alt="Кофе со льдом" class="product__card">
                    </picture>
                    <h3 class="product__title animate__shakeY">ice coffee</h3>
                    <span class="product__points"></span>
                    <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button class="button-long-arrow" type="button" data-modal-open-product-two>
                        <svg class="button__icon" width="5px" height="15px">
                            <use href="./images/svg-icon/sprite.svg#icon-long-arrow"></use>
                        </svg>
                    </button>
                    <div class="description is-hidden backdrop" data-modal-product-two>
                        <div class="description-modal">
                            <button class="description-modal__close-btn" type="button" data-modal-close-product-two>
                                <svg class="description-modal__icon">
                                    <use href="./images/svg-icon/sprite.svg#icon-cross"></use>
                                </svg>    
                            </button>
                            <p class="description-modal__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio harum, et quisquam neque impedit, libero molestiae quos eligendi obcaecati non optio voluptatibus. Velit pariatur esse expedita eaque ad facere culpa.</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product__item item animate__zoomInDown" data-aos="backInDown">
                <div class="product__thumb">
                    <picture>     
                        <source srcset="./images/product/milkshakes-1200.webp 1x, ./images/product/milkshakes-1200@2x.webp 2x" media="(min-width: 1200px)" type="image/webp">
                        <source srcset="./images/product/milkshakes-1200.png 1x, ./images/product/milkshakes-1200@2x.png 2x" media="(min-width: 1200px)">
                        <source srcset="./images/product/milkshakes-768.webp 1x, ./images/product/milkshakes-768@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/product/milkshakes-768.png 1x, ./images/product/milkshakes-768@2x.png 2x" media="(min-width: 768px)">  
                        <source srcset="./images/product/milkshakes-320.webp 1x, ./images/product/milkshakes-320@2x.webp 2x" media="(min-width: 320px)" type="image/webp">
                        <source srcset="./images/product/milkshakes-320.png 1x, ./images/product/milkshakes-320@2x.png 2x" media="(min-width: 320px)">                
                        <img src="./images/product/milkshakes-320.png" alt="Молочные коктейль" class="product__card">
                    </picture>
                    <h3 class="product__title animate__shakeY">milkshakes</h3>
                        <span class="product__points"></span>
                    <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button class="button-long-arrow" type="button" data-modal-open-product-three>
                        <svg class="button__icon" width="1px" height="15px">
                            <use href="./images/svg-icon/sprite.svg#icon-long-arrow"></use>
                        </svg>
                    </button>
                    <div class="description is-hidden backdrop" data-modal-product-three>
                        <div class="description-modal">
                            <button class="description-modal__close-btn" type="button" data-modal-close-product-three>
                                <svg class="description-modal__icon">
                                    <use href="./images/svg-icon/sprite.svg#icon-cross"></use>
                                </svg>    
                            </button>
                            <p class="description-modal__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio harum, et quisquam neque impedit, libero molestiae quos eligendi obcaecati non optio voluptatibus. Velit pariatur esse expedita eaque ad facere culpa.</p>
                        </div>
                    </div>
                </div>
            </li> 
        </ul>
    </div>
</section>
