<section class="product">

  <div class="product-container container">
    <p class="subtitle">100% natural</p>
    <h2 class="title">products</h2>
    <ul class="product__list grid list">
        <li class="product__item item">
                <div class="product__thumb front">
                    <picture>
                        <source srcset="./images/product/ice-cream-1200.webp 1x, ./images/product/ice-cream-1200@2x.webp 2x" media="(min-width: 1200px)" type="image/webp">
                        <source srcset="./images/product/ice-cream-1200.png 1x, ./images/product/ice-cream-1200@2x.png 2x" media="(min-width: 1200px)">
                        <source srcset="./images/product/ice-cream-768.png 1x, ./images/product/ice-cream-768@2x.png 2x" media="(min-width: 768px)">               
                        <source srcset="./images/product/ice-cream-480.png 1x, ./images/product/ice-cream-480@2x.png 2x" media="(min-width: 320px)">


                        <img src="./images/product/ice-cream-480.png" alt="Мороженое" class="product__card">

                    </picture>

                    <h3 class="product__title">ice cream</h3>
                    <span class="product__points"></span>

                    <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua facilisis. </p>
                    <button class="button-long-arrow" type="button">

                        <svg class="button__icon" width="5px" height="15px">
                            <use href="./images/svg-icon/sprite.svg#icon-long-arrow"></use>
                        </svg>
                    </button>

                </div>    

            <div class="back">
                <p>!!!Buy me!!!</p>
            </div>
      
                        
        </li>

        <li class="product__item item">
            <div class="product__thumb front">
            <picture>
                <source srcset="./images/product/ice-coffee-1200.webp 1x, ./images/product/ice-coffee-1200@2x.webp 2x" media="(min-width: 1200px)" type="image/webp">
                <source srcset="./images/product/ice-coffee-1200.png 1x, ./images/product/ice-coffee-1200@2x.png 2x" media="(min-width: 1200px)">
                <source srcset="./images/product/ice-coffee-768.png 1x, ./images/product/ice-coffee-768@2x.png 2x" media="(min-width: 768px)">                 
                <source srcset="./images/product/ice-coffee-480.png 1x, ./images/product/ice-coffee-480@2x.png 2x" media="(min-width: 320px)">


                <img src="./images/product/ice-coffee-480.png" alt="Кофе со льдом" class="product__card">
            </picture>

                
                <h3 class="product__title">ice coffee</h3>
                <span class="product__points"></span>
                <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>

                <button class="button-long-arrow" type="button">

                    <svg class="button__icon" width="5px" height="15px">
                        <use href="./images/svg-icon/sprite.svg#icon-long-arrow"></use>
                    </svg>
                </button>

            </div>

            <div class="back">
                <p>!!!Buy me!!!</p>
            </div>
            
        </li>


        <li class="product__item item">
            <div class="product__thumb front">
            <picture>     
                <source srcset="./images/product/milkshakes-1200.webp 1x, ./images/product/milkshakes-1200@2x.webp 2x" media="(min-width: 1200px)" type="image/webp">
                <source srcset="./images/product/milkshakes-1200.png 1x, ./images/product/milkshakes-1200@2x.png 2x" media="(min-width: 1200px)">
                <source srcset="./images/product/milkshakes-768.png 1x, ./images/product/milkshakes-768@2x.png 2x" media="(min-width: 768px)">                
                <source srcset="./images/product/milkshakes-480.png 1x, ./images/product/milkshakes-480@2x.png 2x" media="(min-width: 320px)">                

                
                <img src="./images/product/milkshakes-480.png" alt="Молочные коктейль" class="product__card">
                
            </picture>
            

                <h3 class="product__title">milkshakes</h3>
                <span class="product__points"></span>
                <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>

                <button class="button-long-arrow" type="button">

                    <svg class="button__icon" width="1px" height="15px">
                        <use href="./images/svg-icon/sprite.svg#icon-long-arrow"></use>
                    </svg>
                </button>
            </div>

            <div class="back">
                <p>!!!Buy me!!!</p>
                
            </div>
            

        </li> 


    </ul>




    </div>



</section>
