<section id="reviews" class="reviews">
    <div class="reviews__container container">
        <h2 class="title visually-hidden">Our reviews</h2>
        <div class="reviews__list list ">
            <div class="reviews__item  ">
                <picture>
                    <source
                        srcset="./images/reviews/desktop/slider-1.webp 1x, ./images/reviews/desktop/slider-1@2x.webp 2x"
                        media="(min-width:1200px)" type="image/webp">
                    <source
                        srcset="./images/reviews/desktop/slider-1.png 1x, ./images/reviews/desktop/slider-1@2x.png 2x"
                        media="(min-width:1200px)" type="image/png">
                    <source
                        srcset="./images/reviews/tablet/slider-1.webp 1x, ./images/reviews/tablet/slider-1@2x.webp 2x"
                        media="(min-width:768px)" type="image/webp">
                    <source srcset="./images/reviews/tablet/slider-1.png 1x, ./images/reviews/tablet/slider-1@2x.png 2x"
                        media="(min-width:768px)" type="image/png">
                    <source
                        srcset="./images/reviews/mobile/slider-1.webp 1x, ./images/reviews/mobile/slider-1@2x.webp 2x"
                        media="(min-width:320px)" type="image/webp">
                    <source srcset="./images/reviews/mobile/slider-1.png 1x, ./images/reviews/mobile/slider-1@2x.png 2x"
                        media="(min-width:320px)" type="image/png">
                    <img class="reviews__photo" src="./images/reviews/desktop/slider-1.png" alt=" photo Emily">
                </picture>
                <div class="reviews__description">
                    <svg class="reviews__quotes">
                        <use href="./images/svg-icon/sprite.svg#icon-quotes"></use>
                    </svg>
                    <div class="reviews__underlay">
                        <p class="reviews__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </div>
                <div class="reviews__circle">
                    <span class="reviews__circle--icon"></span>
                    <span class="reviews__circle--icon"></span>
                    <span class="reviews__circle--icon"></span>
                </div>
                <p class="reviews__name">Emily, Los Angeles</p>
            </div>
            <div class="reviews__item  ">
                <picture>
                    <source
                        srcset="./images/reviews/desktop/slider-2.webp 1x, ./images/reviews/desktop/slider-2@2x.webp 2x"
                        media="(min-width:1200px)" type="image/webp">
                    <source
                        srcset="./images/reviews/desktop/slider-2.png 1x, ./images/reviews/desktop/slider-2@2x.png 2x"
                        media="(min-width:1200px)" type="image/png">
                    <source
                        srcset="./images/reviews/tablet/slider-2.webp 1x, ./images/reviews/tablet/slider-2@2x.webp 2x"
                        media="(min-width:768px)" type="image/webp">
                    <source srcset="./images/reviews/tablet/slider-2.png 1x, ./images/reviews/tablet/slider-2@2x.png 2x"
                        media="(min-width:768px)" type="image/png">
                    <source
                        srcset="./images/reviews/mobile/slider-2.webp 1x, ./images/reviews/mobile/slider-2@2x.webp 2x"
                        media="(min-width:320px)" type="image/webp">
                    <source srcset="./images/reviews/mobile/slider-2.png 1x, ./images/reviews/mobile/slider-2@2x.png 2x"
                        media="(min-width:320px)" type="image/png">
                    <img class="reviews__photo" src="./images/reviews/desktop/slider-2.png" alt=" photo Jessica">
                </picture>
                <div class="reviews__description">
                    <svg class="reviews__quotes">
                        <use href="./images/svg-icon/sprite.svg#icon-quotes"></use>
                    </svg>
                    <div class="reviews__underlay">
                        <p class="reviews__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </div>
                <div class="reviews__circle">
                    <span class="reviews__circle--icon"></span>
                    <span class="reviews__circle--icon"></span>
                    <span class="reviews__circle--icon"></span>
                </div>
                <p class="reviews__name">Jessica, New York</p>
            </div>
            <div class="reviews__item  ">
                <picture>
                    <source
                        srcset="./images/reviews/desktop/slider-3.webp 1x, ./images/reviews/desktop/slider-3@2x.webp 2x"
                        media="(min-width:1200px)" type="image/webp">
                    <source
                        srcset="./images/reviews/desktop/slider-3.png 1x, ./images/reviews/desktop/slider-3@2x.png 2x"
                        media="(min-width:1200px)" type="image/png">
                    <source
                        srcset="./images/reviews/tablet/slider-3.webp 1x, ./images/reviews/tablet/slider-3@2x.webp 2x"
                        media="(min-width:768px)" type="image/webp">
                    <source srcset="./images/reviews/tablet/slider-3.png 1x, ./images/reviews/tablet/slider-3@2x.png 2x"
                        media="(min-width:768px)" type="image/png">
                    <source
                        srcset="./images/reviews/mobile/slider-3.webp 1x, ./images/reviews/mobile/slider-3@2x.webp 2x"
                        media="(min-width:320px)" type="image/webp">
                    <source srcset="./images/reviews/mobile/slider-3.png 1x, ./images/reviews/mobile/slider-3@2x.png 2x"
                        media="(min-width:320px)" type="image/png">
                    <img class="reviews__photo" src="./images/reviews/desktop/slider-3.png" alt=" photo Sara">
                </picture>
                <div class="reviews__description">
                    <svg class="reviews__quotes">
                        <use href="./images/svg-icon/sprite.svg#icon-quotes"></use>
                    </svg>
                    <div class="reviews__underlay">
                        <p class="reviews__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </div>
                <div class="reviews__circle">
                    <span class="reviews__circle--icon"></span>
                    <span class="reviews__circle--icon"></span>
                    <span class="reviews__circle--icon"></span>
                </div>
                <p class="reviews__name">Sara, Chicago</p>
            </div>
        </div>
    </div>
</section>