.subtitle {
  font-family: var(--secondary-fonts);
  @include font(18px, 500, 21px);
  text-align: center;
  text-transform: uppercase;
  color: var(--subtitle-color);
}

@media screen and (min-width: 768px) {
  .subtitle {
    @include font(26px, 500, 30px);
  }
}

@media screen and (min-width: 1200px) {
  .subtitle {
    @include font(30px, 500, 34px);
  }

}
