.map {
    &__modal {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95vw;
        max-height: 400px;
        background: #fff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
}

.map {
  &__close-btn {
    position:fixed;
    border: none;
    background: transparent;
    border-radius: 50%;
    top: 10px;
    right: 20px;

    z-index: 10;
  }

  &__cross {
    width: 20px;
    height: 20px;
    fill: var(--accent-link-color);
  }

}

@media screen and (min-width:450px) {
    .map {
        &__modal {
            max-width: 450px;
            max-height: 450px;
        }
    }
}

@media screen and (max-width:1199px) {
  .map {
    &__modal {
      overflow: scroll;
    }
  }
}

@media screen and (min-width: 1200px) {
    .map {
      &__modal {
        max-width: 700px;
        max-height: 550px;
      }
    }
  
}