.product {
  padding-top: 121px;
  padding-bottom: 98px;

  &__main-subtitle {
    margin-bottom: 15px;
  }

  &__main-title {
    margin-bottom: 145px;
  }

}

.product__item {
  border-radius: 24px;
  text-align: center;
  max-width: 440px;
  padding: 0 10px 41px;
}

.product__thumb {
  position: relative;

}

.product__title {
  font-family: var(--secondary-fonts);
  @include font(20px, 500, 23px);
  text-transform: uppercase;

  color: var(--secondary-background-color);

  padding-left: 53px;
  padding-right: 53px;
  padding-top: 160px;

  margin-bottom: 30px;

}

.product__description {
  @include font(14px, 700, 21px);
  color: var(--secondary-background-color);
  margin: 0 auto;
  margin-bottom: 30px;
}

$colors: "var(--hero-background-color)",
"#F0D1A5",
"#C2E297";
@include colorize($colors, ".product__item");

.product__card {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
}

.product__points {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--secondary-background-color);

  margin-bottom: 30px;

  &::after {
    content: "";
    display: block;
    position: relative;
    top: -4px;
    right: -8px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--secondary-background-color);

  }

  &::before {
    content: "";
    display: block;
    position: relative;
    top: 0;
    right: 8px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--secondary-background-color);
  }

}

.button-long-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: transparent;

  &:hover,
  &:focus {
    background-color: var(--accent-link-color);
  }

  & {
    transition: background-color 500ms linear;
  }

}

.button__icon {
  fill: var(--icon-basic-color);
  width: 100%;
  position: relative;
  top: 2px;

  .button-long-arrow:hover &,
  .button-long-arrow:focus & {
    fill: var(--secondary-background-color);
  }

  & {
    transition: fill 500ms linear;
  }

}

.description-modal {
  width: 280px;
  height: 485px;
  background-image: linear-gradient(to bottom, var(--subtitle-color), #F0E68C);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
}

.description-modal__close-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #C71585;
  cursor: pointer;
  background-color: var(--secondary-background-color);
  top: 9px;
  right: 9px;

}

.description-modal__icon {
  width: 11px;
  height: 11px;
  fill: #C71585;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-modal__text {
  font-family: var(--secondary-fonts);
  @include font(15px, 500, 15px, 0.06em);
  text-transform: uppercase;
  text-align: center;
  color: #C71585;
  padding: 100px 50px;
}

@media screen and (max-width: 767px) {
  .product__item:not(:last-child) {
    margin-bottom: 156px;
  }

}

@media screen and (min-width: 768px) {
  .product__main-title {
    margin-bottom: 149px;
  }

  .product__item {
    max-width: 220px;
  }

  .product__description {
    width: 198px;
    height: 110px;
    overflow: hidden;
    margin-bottom: 40px;
  }

  .product__title {
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 152px;

    margin-bottom: 30px;
  }

  .product__card {
    top: -103px;
  }
}

@media screen and (min-width: 1200px) {
  .product__main-title {
    margin-bottom: 258px;
  }

  .product__item {
    max-width: 320px;
    height: 525px;
  }

  .product__description {
    @include font(16px, 700, 28px);
    width: 241px;
    height: 106px;
    margin-bottom: 62px;
  }

  .product__title {
    padding-top: 162px;
    margin-bottom: 32px;
  }

  .product__card {
    top: -185px;
  }

  .product__item {
    position: relative;
  }

  .button-long-arrow:hover,
  .button-long-arrow:focus {
    transform: scale(1.3);
  }

  .description-modal {
    max-width: 329px;
    height: 450px;
    top: 15%;
    left: 40%;
    animation: rotateY 3000ms infinite alternate backwards ease-in-out 1000ms;
  }

  @keyframes rotateY {
    0% {
      transform: perspective(200px) rotateY(10deg);
    }

    100% {
      transform: perspective(200px) rotateY(-10deg);
    }
  }

  .description-modal__close-btn {
    width: 30px;
    height: 30px;
    right: 9px;
  }

  .description-modal__icon {
    width: 17px;
    height: 17px;
  }

  .description-modal__text {
    padding: 100px 50px;
  }

  .animate__shakeY {
    animation-duration: 2000ms;
  }

  .animate__zoomInDown {
    animation-duration: 2000ms;
  }

}
