.reviews {
  background-color:#fff;
}

.reviews {
  padding-top: 80px;
  padding-bottom: 85px;
  // margin: 0 auto;

}


.reviews__description {
  position: relative;
  background-color:  #FAFAFA;
  margin-left: auto;
  margin-right: auto;
  padding: 45px 55px 25px 55px;
  max-width: 460px;
  // height: 310px;
}

.reviews__photo {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.reviews__underlay {

  background: repeating-linear-gradient(
  to bottom,
    #FAFAFA,
    #FAFAFA 28px,
    #E1E1E1 28px,
    #E1E1E1 29px);
  background-size: 100% 30px; 
}

.reviews__text,
.reviews__name {
  text-align: center;
  font-family:var(--primary-fonts);
  font-style: normal;
  font-weight: 500;
  color:var(--primary-text-color);
}

.reviews__name {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.86;
}

.reviews__text {
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 12px;
  line-height: 2.55;
}

.reviews__quotes {
  position: absolute;
  fill: #e1e1e1;
  width: 54px;
  height: 40px;
  top: 30px;
  left: 55px;
}

.reviews__circle--icon:not(:last-child) {
  margin-right: 10px;
}

.reviews__circle--icon {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background: var(--icon-basic-color);
}

.reviews__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}


/*-----  проверить состояние active -----*/
.slick-dots li button:before {
  font-size: 12px;
}


.slick-dots li.slick-active button:before {
  background-image: url(../images/reviews/red_house.png) ;
  opacity: 1;
  color: unset;
  width: 14px;
  
  align-content: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100%
}

.slick-dots li button:before {
  background-image: url(../images/reviews/vector-ellipse.png);
   background-repeat: no-repeat;
  background-size: 100%;
  height: 14px;
  width: 14px;
  color:  #D9D9D9;
  opacity: 1;
  
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  color:  unset;
  opacity: 1;
  z-index: 10;
}

.slick-dots li:not(:last-child) {
  margin-right: 18px;
}

/*-----  проверить состояние active -----*/


@media screen and (min-width: 768px) {
  .reviews {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .reviews__description {
    padding: 45px 80px 35px 80px;
    margin-left: auto;
    margin-right: auto;
    // max-width: 460px;
    // height: auto;
  }

  .reviews__photo {
    margin-bottom: 20px;

  }

  .reviews__name {
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 1.86;
  }

  .reviews__text {
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 14px;
    line-height: 2.16;
  }

  .reviews__quotes {
  top: 30px;
  left: 56px;
}


}


@media screen and (min-width: 1200px) {
  .reviews {
    padding-top: 125px;
    padding-bottom: 130px;
  }

  .reviews__description {
    padding: 45px 90px 40px 90px;
    max-width: 925px;
    // height: 140px;
  }

  .reviews__photo {
    margin-bottom: 15px;

  }

  .reviews__name {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.86;
  }

  .reviews__text {
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 16px;
    line-height: 1.86;
  }

  .reviews__quotes {
  top: 29px;
  left: 62px;
  }


}