.sign-modal {
    overflow: hidden;
    position: relative;
    max-width: 320px;
    height: 95%;
    max-height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;

    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}
.sign-modal {
    &__title {
        text-align: center;
        margin-bottom: 40px;
        color:#777;
    }

    &__form {
        position: absolute;
        width: 300px;
        top: 100px;
        left: 5px;
        transition: 0.5s;
    }
}

.sign-modal {
    &__input {
        width: 100%;
        padding: 10px 5px;
        margin: 5px 0;
        border: 0;
        border-bottom: 1px solid #999;
        outline: none;
        background:transparent;
    }

    &__input::placeholder {
        color:#777;
    }
}

.sign-modal {
    &__btn-box {
        width: 100%;
        margin: 30px auto;
        text-align: center;
    }

    &__btn {
        width: 110px;
        height: 35px;
        margin: 0 10px;
        background: linear-gradient(to right, #ff105f, #ffb8ca);
        border-radius:30px;
        border:0;
        outline: none;
        color:#fff;
        cursor:pointer;
    }
}

#Form2 {
    left: 400px;
}

#Form3 {
    left: 400px;
}

.sign-modal {
    &__step-row {
        width: 360px;
        height: 40px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        box-shadow: 0 -1px 5px -1px #000;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__step-col {
        width: 100px;
        text-align: center;
        color:white;
        position: relative;

        &:nth-child(2) {
            width: 120px;

        }
    }
}

#progress {
    position: absolute;
    height: 100%;
    width: 100px;
    background: linear-gradient(to right, #ffb8ca, #d41443);
    transition: 1s;

    &::after {
        content:'';
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        position: absolute;
        right: -20px;
        top: 0;
        border-left: 20px solid #d41443;
    }
}

.sign {
    &__close-btn {
        position: absolute;
        border:none;
        background: transparent;
        border-radius: 50%;
        top: -50px;
        right: -5px;
        
        z-index: 10;


    }

    &__cross {
        width: 20px;
        height: 20px;
        fill: var(--accent-link-color);
    }
}